@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>If you want to visit special locations you are in the right place</p>

<img src="/images/Cluj1.png" alt="Mountain View" style="width:304px;height:228px;">
