@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Manastur<br />
    Cluj<br />
    <abbr title="Phone">P:</abbr>
    0744556677
</address>

<address>
    <strong>Support:</strong>   <a href="agentiedeturism@gmail.com">Support@example.com</a><br />
</address>